<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案由您的 Web 專案發佈/封裝處理序使用。您可以藉由編輯此 MSBuild 檔案，
自訂此處理序的行為。若要深入了解，請前往 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0f39574d-d756-48cf-b622-0e27a6943bd2/resourcegroups/490-7963494a-developing-a-pipeline-in-azure-data-f/providers/Microsoft.Web/sites/PuYuannet720230308140834</ResourceId>
    <ResourceGroup>490-7963494a-developing-a-pipeline-in-azure-data-f</ResourceGroup>
    <ApiResourceId>/subscriptions/0f39574d-d756-48cf-b622-0e27a6943bd2/resourceGroups/490-7963494a-developing-a-pipeline-in-azure-data-f/providers/Microsoft.ApiManagement/service/PuYuannet7api0308/apis/PuYuannet7</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://puyuannet720230308140834.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e48e7ed3-17e8-480f-8bf7-952795a97f31</ProjectGuid>
    <MSDeployServiceURL>puyuannet720230308140834.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PuYuannet720230308140834</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$PuYuannet720230308140834</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>